* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
    text-align: center;
}

.home {
    position: relative;
    height: 700px;
}

.contact,
h1,
h2,
h3,
.learn-more {
    font-family: 'Fraunces', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.main-nav {
    width: 30%;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul li a {
    color: hsl(0, 0%, 100%);
}

.main-nav ul li a:hover {
    color: hsla(0, 0%, 100%, 0.623);
}

.contact {
    color: black;
    background-color: hsl(0, 0%, 100%);
    font-weight: 500;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
}

.contact:hover {
    background-color: hsla(0, 0%, 100%, 0.454);
    color: hsl(0, 0%, 100%);
}

.open-menu {
    display: none;
    cursor: pointer;
}

.side-nav {
    display: none;
    padding: 1rem 0;
    position: absolute;
    top: 7rem;
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.side-nav.active {
    display: block;
}

.side-nav ul {
    list-style: none;
}

.side-nav ul li a {
    color: hsl(213, 9%, 39%);
}

.side-nav ul li {
    padding: 1rem 0;
}

.side-nav .contact {
    background-color: hsl(51, 100%, 49%);
}

.triangle {
    border: 1.7rem solid hsl(0, 0%, 100%);
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: hsl(0, 0%, 100%);
    border-bottom-color: transparent;
    position: absolute;
    top: -1.5rem;
    right: 0;
}

.mobile-header {
    display: block;
}

.desktop-header {
    display: none;
}

.mobile-header,
.desktop-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.down-arrow {
    position: absolute;
    top: 18rem;
    left: 50%;
    transform: translateX(-50%);
}

.top {
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding: 2rem;
}

.top h1 {
    font-size: 2.5rem;
    padding-top: 2rem;
    letter-spacing: 0.3rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
}

.mobile-img,
.desktop-img {
    width: 100%;
    object-fit: cover;
}

.mobile-img {
    display: block;
}

.desktop-img {
    display: none;
}

.egg2 {
    display: none;
}

.gallery,
.learn-more,
.testimonials {
    color: hsl(212, 27%, 19%);
}

.learn-more {
    font-weight: 700;
    position: relative;
}

.more ::before {
    content: "";
    height: 0.7rem;
    width: 110%;
    border-radius: 10px;
    position: absolute;
    bottom: -2px;
    left: -6px;
    opacity: 0.3;
    z-index: -1;
    background-color: hsl(51, 100%, 49%);
}

.red-more ::before {
    background-color: hsl(7, 99%, 70%);
}

.more:hover ::before {
    opacity: 1;
}

.gallery .text {
    padding: 3rem 2rem;
    max-width: 500px;
    margin: 0 auto;
}

.cherry,
.orange {
    position: relative;
}


.cherry-text,
.orange-text {
    position: absolute;
    padding: 0 1rem;
    bottom: 0.5rem;
}

.cherry-text {
    color: hsl(167, 40%, 24%);
}

.orange-text {
    color: hsl(198, 62%, 26%);
}

.cherry-text h2,
.orange-text h2 {
    padding-bottom: 2rem;
}

.cherry-text p,
.orange-text p {
    opacity: 0.9 !important;
}

h2 {
    padding-bottom: 1rem;
}

.gallery p,
.testimonials p {
    padding-bottom: 2rem;
    line-height: 1.5;
    font-weight: 600;
    opacity: 0.7;
}

.testimonials {
    padding: 3rem 2rem;
}

.testimonials h2 {
    color: hsl(210, 4%, 67%);
    font-size: 1rem;
}

.col-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.testimonials img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-bottom: 2rem;
}

h3 {
    padding-bottom: 0.5rem;
}

h4 {
    opacity: 0.4;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}

.col {
    padding-top: 1rem;
    flex-basis: 1fr;
}

.bottom-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.img-container {
    position: relative;
}

.bottom-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: hsl(167, 43%, 72%);
    color: hsl(168, 34%, 41%);
    text-align: center;
    padding: 3.5rem 2rem;
}

.footer-logo {
    color: hsl(168, 34%, 41%);
}

footer a {
    color: hsl(168, 34%, 41%);
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 4.5rem;
}

.footer-logo {
    margin-bottom: 2rem;
}

.footer-icons img {
    padding: 0 0.7rem;
    cursor: pointer;
}

footer a:hover {
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 1200px) {
    .main-nav {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .main-nav {
        width: 45%;
    }
}


@media screen and (min-width: 740px) {
    .gallery .text {
        text-align: left;
    }

    .mobile-header,
    .mobile-img,
    .egg {
        display: none;
    }

    .desktop-img {
        display: block;
    }

    .desktop-header,
    .egg2 {
        display: block;
    }
}

@media screen and (min-width: 740px) and (max-width: 767px) {
    .gallery .text {
        padding: 1.8rem 2rem;
    }
}


@media screen and (min-width: 740px) and (max-width: 969px) {

    .cherry-text,
    .orange-text {
        bottom: -0.5rem !important;
    }
}

@media screen and (max-width: 767px) {
    .open-menu {
        display: block;
    }

    .main-nav {
        display: none;
    }

    .down-arrow {
        top: 25rem;
    }
}

@media screen and (max-width: 375px) {
    header {
        padding: 2rem 1.5rem;
    }

    .top {
        padding: 1rem;
    }

    .top h1 {
        font-size: 2rem;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    }
}

@media screen and (max-width: 300px) {

    .top h1 {
        font-size: 1.8rem;
    }

    .side-nav {
        width: 85%;
    }
}

@media screen and (min-width: 300px) {

    .cherry-text,
    .orange-text {
        bottom: 2rem;
    }
}

@media screen and (min-width: 767px) {
    .home {
        height: 700px;
    }

    .gallery p {
        padding-bottom: 3rem;
    }

    br {
        display: none;
    }

    .testimonials {
        padding-block: 10rem;
    }

    .testimonials h2 {
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
    }

    .col-container {
        padding-top: 1rem;
    }

    .col {
        flex-basis: 200px;
    }

    footer ul {
        justify-content: center;
        gap: 2.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    }
}

@media screen and (min-width: 1000px) {
    h2 {
        font-size: 2rem;
    }

    .gallery p,
    .learn-more {
        font-size: 1.2rem;
    }

    .down-arrow {
        top: 19.5rem;
    }
}

@media screen and (min-width: 1100px) {
    .col {
        flex-basis: 320px;
    }
}